

* {
  margin: 0 auto;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Hind', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow-x: hidden;
}
img{
  position: static !important;
}
a,
a:hover,
a:link,
a:active,
a:focus {
  text-decoration: none !important;
  outline: none;
}

.body-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

button:focus {
  outline: none;
}

.container-body {
  max-width: 2160px;
  min-width: 300px;
  width: 100%;
  height: auto;
  color: #222222;
  line-height: 1.5rem;
  background: #ffffff;
  position: relative;
  margin: 0 auto;
 
}

::before,
::after {
  box-sizing: border-box;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 15px;
}

.search-bar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 12;
  overflow: hidden;
  background-color: #000000;
  background-color: rgb(0, 0, 0, 0.8);
  animation-delay: 1s;
  animation: searchAnimation 0.2s;
  
}
.searchForm{
  animation: searchAnimation 1s;
}
@keyframes searchAnimation {
  0%{
    transform: translateY(100vh);
  }
  100%{
    transform: translateX(0);
  }
}

.stop-scrolling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.search-elm {
  position: relative;
  margin: 0 auto;
  margin-top: 200px;
  padding: 0px 15px 0px;
  max-width: 1024px;
  width: 100%;
}

.search-elm fieldset {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  border: 7px solid #777777;
  border-radius: 12px;
}

.search-elm input[type="text"] {
  flex: 0 0 80%;
  padding: 25px 20px;
  border-radius: 5px 0 0 5px;
}

.search-elm ::placeholder {
  font-size: 1.3rem;
}

.search-bar .close {
  right: 30px;
  top: 20px;
}

.search-elm input[type="submit"] {
  flex: 0 0 20%;
  padding: 25px 20px;
  border-radius: 0 5px 5px 0;
  background-color: #08e438;
  color: white;
  font-weight: 700;
}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 11;
  padding: 10px 0;
  animation: menuAnimation 0.7s ease;
}
@keyframes menuAnimation {
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);  }
}

.logo-top {
  float: left;
  width: 20%;
  margin-top: 10px;
  padding: 0 40px;
}

.header-top .main-menu {
  background-color: #fff;
  float: right;
  display: block;
  width: 80%;
}

.header-top ul {
  position: absolute;
  right: 0;
}

.header-top .main-menu ul li a {
  color: #222222;
}

.banner-top {
  max-width: 1200px;
  padding: 15px 0;
  position: relative;
  z-index: 1;
  font-size: 1rem;
  color: #ffffff;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.top-left {
  float: left;
}

.top-right {
  float: right;
}

.mail {
  float: left;
}

.mail a {
  color: #ffffff;
  padding-right: 15px;
}

.mail a:hover {
  text-decoration: underline;
}

.social-comunity {
  list-style-type: none;
}

.banner-top ul {
  float: right;
}

.social-comunity li {
  position: relative;
  float: left;
  color: #333333;
  line-height: 20px;
  margin-right: 20px;
}

.banner-top .social-comunity li a {
  color: #ffffff;
  transition: 0.5s;
}

.banner-top .social-comunity li a:hover {
  color: #52c306;
}

.header-main {
  max-width: 1200px;
  position: relative;
  z-index: 1;
}

.header-main-box {
  padding: 20px 0;
  background-color: #ffffff;
  font-size: 1rem;
}

.logo{
  flex: 0  0 10%;
  margin-right: 0;
}

.info-contact {
  display: flex;
  flex: 0 0 60%;
  margin-right: 0;
  flex-wrap: nowrap;
}

.right-content-header{
  flex:0 0 80%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  
}
.right-content-header .info {
  padding-top: 10px;
  margin-right: 10px;
}

.icon-img {
  float: left;
  margin-right: 10px;
}

.linkbox {
  margin-right: 10px;
}


.link {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "hind", sans-serif;
  overflow: hidden;
  position: relative;
}

.link-text {
  background-color: #52c306;
  position: relative;
  display: block;
  z-index: 1;
  padding: 12px 80px 12px 30px;
  letter-spacing: 0.05em;
  border-radius: 0px;
}

.link-text::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #222222;
  transition: 0.4s;
}

.effect::before {
  left: 0;
  width: 0;
}

.effect:hover::before {
  width: 100%;
}

.main-menu ul li a {
  color: #fff;
}

.link-text .btn-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 51px;
  height: 100%;
  font-size: 16px;
  padding: 12px 10px;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.20);
}

.btn-text {
  padding: 0;
}

.link-text {
  color: #fff;
}

.slidemain {
  position: relative;
  width: 100%;
  animation: anishow 0.75s linear;
}
@keyframes anishow {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}
.header-slides {
  position: relative;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 70px;
  overflow: hidden;
}

.slide-show {
  width: 100%;
  height: 100%;
}

.img-slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.50;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  transform: scale(1);
}

.activeimg {
  display: block;
}

.header-slides .slide {
  transition: all 0.3s ease 0s;
}

.active .slide {
  transform: scale(1.1);
}

.img-layer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 12;
  max-width: 1200px;
  height: 100%;
  opacity: 0.50;
}

.main-menu {
  width: 100%;
  display: block;
  background-color: rgb(73, 105, 247);
}

.main-menu ul {
  padding: 0 30px;
  float: left;
}

.main-menu ul li {
  display: inline-table;
  margin-right: 50px;
  padding: 20px 0 0 0;
  position: relative;
}

.hover1 {
  color: #ffffff;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
}

.hover1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: 1px solid #ffffff;
  transition: 0.4s;
}

.hover1:hover::before {
  width: 30px;
}

.main-menu ul li>ul {
  display: none;
  position: absolute;
  width: 300px;
  z-index: 14;
  top: 100%;
  left: 0px;
}

.main-menu ul li>ul li {
  display: block;
  width: 100%;
  border: 1px solid #eeeeee;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  z-index: 15;
}

.main-menu ul li>ul li:hover {
  background-color: #9a9c9a;
}

.menu li>.sub-menu li a {
  display: block;
  padding: 10px 20px;
  color: #222222;
  position: relative;
  z-index: 16;
}

.main-menu ul li:hover .sub-menu {
  display: block;
}

.tabbar {
  width: 100%;
}

.tabbar .navmobile {
  position: absolute;
  left: 0;
  display: block;
  z-index: 17;
}

.menu-bar {
  display: none;
  color: #fff;
  font-size: 2rem;
  margin-top: 17px;
  margin-left: 15px;
}

.search {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search span {
  padding: 0 20px 0 20px;
  margin-top: 20px;
  font-size: 1.1rem;
  color: #ffffff;
  border-left: dotted;
  border-left-width: 4px;
  cursor: pointer;
}

.mobile-menu {
  float: left;
  width: 100%;
  height: 100vh;
  left: 0;
  position: fixed;
  z-index: 19;
  top: 0;
  background-color: rgb(0, 0, 0, 0.4);
  
}

@keyframes show {
  0% {
      
      transform: translateX(70%);
  }
  100% {
      
    transform: translateX(0);

  }
}

@keyframes hide {
  0% {
      transform: translateY(0);
      height: 100%;
  }
  100% {
      height: 0;
      transform: translateX(100vh);
  }
}

.dropdownnav-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  background-color: #222222;
  padding-top: 30px;
  overflow-y: auto;
  animation: show;
  animation-duration: 1s;
}

#menu-img {
  display: block;
  border: 0;
  padding-bottom: 20px;
}

.menu-img img {
  display: block;
}

.dropdownnav-menu ul {
  list-style-type: none;
}

.dropdownnav-menu ul li {
  display: block;
  width: 100%;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  position: relative;
}

.dropdownnav-menu ul li a {
  display: block;
  color: #fff;
  padding: 10px 30px
}

.dropdownnav-menu ul li .dropdown-icon {
  display: block;
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: #5b5b5c;
  text-align: center;
  position: absolute;
  right: 20px;
  line-height: 30px;
  top: 7px;
  border-radius: 3px;
}

.activebtn {
  transform: rotate(90deg);
}

.dropdownnav-menu ul li>.nav-mobile {
  display: none;
  
}

.open {
  display: block !important;
}

.dropdownnav-menu ul li>ul li a {
  color: #fff;
  margin-bottom: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  z-index: 10;
  width: 30px;
  height: 30px;
  text-align: center;
}

.image-layer {
  max-width: 1200px;
  padding: 200px 0;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.text-img {
  font-size: 16px;
  padding-bottom: 30px;
  padding-top: 50px;
  
  opacity: 0;
}

.text-img i {
  color: aqua;
  padding: 0 10px;
}
.slick-active .text-img{
  opacity: 1;
  animation: animations-down 2s ease-in-out;
}
.text-info {
  line-height: 100px;
  
  text-transform: capitalize;
}
.slick-active .text-info{
  animation: animations-up 2s ease-in-out;
}
.slick-active .img-slide{
  transform: scale(1.1);
  transition: 5s ease-out;
}
.text-info h1 {
  font-size: 72px;
  line-height: 1.10em;
  color: #ffffff;
  font-weight: 700;
  padding: 20px 120px;
}

.active .text-img {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.7s ease;
  transition-delay: 0.3s;
}

.active .text-info {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.7s ease;
  transition-delay: 0.7s;
}

.slidemain .owl-nav {
  visibility: hidden;
}

.slidemain .owl-dots {
  position: absolute;
  left: 0px;
  bottom: 30px;
  width: 100%;
  z-index: 1;
  text-align: center;
}

.slidemain .owl-dots li {
  position: relative;
  display: inline-block;
  width: 2px;
  height: 30px;
  margin: 0 7px;
}

.owl-dots  .slick-active span {
  height: 30px;
}

.owl-dots li span {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 2px;
  height: 10px;
  background: #ffffff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.first-body {
  width: 100%;
}

.first-body-elm {
  max-width: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.elm-left {
  /* float: left; */
  position: relative;
}

.imgelm {
  width: 100%;
}

.img-left {
  display: block;
  position: relative;
  padding-left: 110px;

}

.img-left img {
  display: block;
  max-width: 100%;
  height: auto;
  position: static !important;
}

.img-bottom {
  display: block;
  padding: 10px;
  position: absolute;
  left: -70px;

}
.img-bottom img{
  position: static !important;
}


/* .elmif {
  animation: animations;
  animation-duration: 2s;
} */

.title-text {
  font-size: 14px;
  color: #777777;
}

.title-text p {
  margin-bottom: 0;
}

.title-text i {
  color: #2315f3;
  font-size: 1rem;
  padding-left: 5px;
}

.elmif h2 {
  font-size: 2rem;
  color: #000000;
}

.subtext {
  font-size: 16px;
  color: #52c306;
}

.bottomtitle {
  width: 100%;
  padding: 20px 0;
}

.line {
  display: block;
  float: left;
  width: 50px;
  height: 3px;
  background-color: #2315f3;
}

.dottitle {
  display: block;
  width: 3px;
  height: 3px;
  background-color: #2315f3;
  margin-left: 5px;
  float: left;
}

.elmtextinfo {
  font-size: 16px;
  padding-bottom: 100px;
}

.texteffect {
  padding-top: 20px;
  animation: animations;
  animation-duration: 1s;
}

.iconenergy {
  width: 100%;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  animation: animations-up;
  animation-duration: 2s;
}

.img-solar {
  width: 33.333%;
  height: 150px;
  background-size: cover;
}

.img-solar:nth-child(2) {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left-style: dashed;
  border-right-style: dashed;
}

.img-solar img {
  width: 70px;
  height: 70px;
  margin: 10px 0;
}

.img-solar p {
  padding: 0 20px;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sercond-body {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.sercond-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background: url(https://smartdemowp.com/strnix/wp-content/themes/strnix/assets/images/background/bg-pattern-1.png) center center repeat;
}

.elmprogram {
  max-width: 1200px;
  padding: 100px 0 50px 0;
  text-align: center;
  position: relative;
}

.titleprogram {
  width: 100%;
  line-height: 40px;
  animation-name: animations;
  animation-duration: 2s;
  position: relative;
  overflow: hidden;
}

.titleprogram h2 {
  font-size: 1.8rem;
}

.bottomtitle2 {
  position: relative;
  left: 50%;
  margin-left: -25px;
  padding: 20px 0;
}

.slide-img {
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.imgprogram {
  width: 100%;
  overflow: hidden;
  padding: 70px 0;
}

.imgobject {
  height: 100%;
  margin: 10px;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  background-size: cover;
}

.imglinkcontent {
  display: inline-block;
  width: 100%;
  
}

.imgobject img {
  display: block;
  position: static !important;

}

.linkimg {
  padding: 10px;
  font-size: 1.2rem;
}

.linkimg a {
  color: rgb(0, 0, 0);
}

.linkimg a:hover {
  color: #2315f3;
}

.imgobject img {
  width: 100%;
  height: 100%;
}

.imgobject::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  left: 0;
  bottom: 0;
  transition: 0.4s;
}

.hoverimg::before {
  height: 0;
}

.hoverimg:hover::before {
  height: 100%;
}

.hidentext {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  bottom: -100%;
  color: #ffff;
  transition: 0.4s ease-in-out;
}

.imgobject:hover .hidentext {
  bottom: 0;
  transition-delay: 0.5s;
  border-bottom: 5px solid #52c306;
}

.elmhiden {
  padding: 30px;
}

.flation {
  width: 100px;
  height: 100px;
}



.imgprogram  button {
  display: inline-block;
  position: absolute;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  font-size: 2rem !important;
  border-radius: 50% !important;
  color:#d9d9d9;
  text-align: center;
  border: 1px solid #d9d9d9 !important;
}

.imgprogram button:hover {
  color: #08e306!important;
  border-color: #08e306!important;
}

.imgprogram  .slick-prev {

  left: calc(50% - 60px);

}
.imgprogram .slick-next {
  
  left: calc(50% + 15px);

}

.third-body {
  width: 100%;
  background-color: #161155;
 
}
.auto-container{
  max-width: 1340px;
  position: relative;
}
.panel {
  width: 270px;
  color: #ffffff;
  opacity: 0.2;
  position: absolute;
  left: -150px;
  top: 0;
  padding: 10px;
}

.panel img {
  width: 100%;
  height: 100%;
}

.third-body .auto-container {
  position: relative;
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}

.row-text {
  padding: 50px 0;
}

.row-text h2 {
  font-size: 2rem;
  height: 150px;
  line-height: 40px;
  padding-top: 30px;
  color: #ffffff;
  text-align: left;
}

.elm-form {
  margin-top: 35px;
}

.noti {
  display: none;
  flex: 0 0 100%;
  color: #fff;
  margin-top: 20px;
  padding: 20px 15px;
}

.noti p {
  border: 2px solid #0cdb16;
  padding: 5px 15px;
  margin-right: 20px;
}

.inputform {
  position: relative;
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  height: 50px;
  padding: 28px 45px;
  background: none;
  border: 2px solid #5f5959;
  position: relative;
  color: #eeeeee;
}

.inputform label {
  position: absolute;
  left: 0;
  top: -5px;
  padding: 20px;
  margin-left: 10px;
  line-height: 28px;
  color: #5f5959;
}

.btnbox {
  height: 60px;
  position: relative;
  display: inline-block;
  background: none;
}

.btnbox .link-text {
  width: 100%;
  height: 100%;
  color: #ffffff;
  line-height: 35px;
}

.btn .link-text .btn-txt {
  font-weight: 900;
}

.bodyfour {
  width: 100%;
}

.bodyfourcontainer {
  width: 100%;
  height: auto;
  padding-top: 100px;
  position: relative;
}

.bodyfourcontainer .patternimgleft {
  position: absolute;
  left: 0;
  width: auto;
  height: auto;
  top: 0;
}

.bodyfourcontainer .patternimgright {
  position: absolute;
  right: 0;
  width: auto;
  height: auto;
  bottom: 30px;
}

.mainbodyfour {
  max-width: 1200px;
}

.services .row {
  margin-bottom: 20px;
}

.mainservices {
  padding-bottom: 30px;
}

.services {
  width: 100%;
  padding: 0 15px;
}

.imgdemo {
  position: relative;
  width: 80%;
}

.imgdemo img {
  width: 100%;
  height: auto;
  display: block;
}

.imgcircle {
  position: absolute;
  width: 120px;
  height: 120px;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
}

.imgelmleft .imgdemo .imgcircle {
  position: absolute;
  right: -60px;
  top: 30%;
  box-shadow: 3px 1px 10px 1px #c9c5c5;
}

.imgcircle img {
  width: 100%;
  height: 100%;
}

.textright .textsub {
  line-height: 25px;
}

.textleft .textsub {
  line-height: 25px;
  padding-right: 50px;
}

.textsub h2 {
  font-size: 2rem;
}

.wraptext {
  color: #777777;
  padding: 10px 0;
  font-size: 16px;
}

.contenttext {
  padding: 20px 0;
  font-size: 16px;
}

.getstart {
  display: inline-block;
  padding: 20px 0 10px 0;
  text-decoration-line: underline;
  text-underline-position: under;
}

.getstart a {
  font-size: 18px;
  color: #580be6;
  font-weight: 700;
}

.getstart i {
  padding-left: 10px;
  color: #52c306;
}

.textleft {
  float: left;
  text-align: right;
}

.imgelmright .imgdemo .imgcircle {
  position: absolute;
  left: -60px;
  top: 30%;
  box-shadow: -1px 1px 10px 1px #c9c5c5;
}

.services a:hover {
  color: #52c306;
}

.bodyfive {
  width: 100%;
}

.bgfirst {
  position: relative;
}

.bgfirst::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  background: url(https://smartdemowp.com/strnix/wp-content/themes/strnix/assets/images/background/bg-pattern-1.png) center center repeat;
}

.bodyfivemain {
  max-width: 1200px;
  padding-top: 100px;
  position: relative;
}

.elmfiveleft {
  float: left;
  padding-bottom: 15px;
}

.elmfiveleft .elmtextinfo {
  padding-bottom: 30px;
}

.elmfiveleft .linkbox {
  float: left;
  margin: 0;
}

.elmfiveleft .link-text {
  background-color: #444444;
}

.elmfiveleft .link-text::before {
  background-color: #08e438;
}

.five-elm {
  padding: 0 15px;
}

.fivecontent {
  width: 100%;
  float: right;
  position: relative;
}

.btn-tab {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
}

.btn-tab ul {
  list-style-type: none;
}

.tab {
  width: 100%;
  position: relative;
}


.ant-tabs-nav{
  margin: 0 !important;
}
.ant-tabs-nav-list{
  display: flex;
  justify-content: center;
  width: 100%;
}
.ant-tabs-content-holder{
  width: 100%;
}.ant-tabs-tab{
  width: 33.33% !important;
  height: 90px;
  background-color: #fff;
  border-bottom: 2px solid #444444 !important;
  border-radius: 0 !important;
}
.ant-tabs-tab-active {
  border-bottom: 2px solid #08e438 !important;
  height: 105px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  font-weight: 700;
}
.ant-tabs-tab-btn{
  font-size: 1.2rem;
}
.ant-tabs-tab-active > .ant-tabs-tab-btn{
  color: #000000 !important;
}
.ant-tabs-tab-active::after{
  content: '5.2KW SYSYEM';
  color: #686666;
  font-weight: 300;
 
}
.tab img {
  width: 100%;
  display: block;
  position: relative;
  aspect-ratio: 7/5;
}

.tab .subimg {
  position: absolute;
  z-index: 10;
  top: 25px;
  right: 25px;
  padding: 5px 15px;
  background-color: #52c306;
  color: #fff;
  font-size: 14px;
}

.btnelm {
  width: 33.3%;
  position: relative;
  float: left;
  font-size: 18px;
  padding: 30px 0;
  border-bottom: 2px solid #9a9c9a;
  background-color: #ffff;
  cursor: pointer;
  z-index: 2;
}

.btnelm.active .btn-sub {
  display: block;
}

.btn-tab .active {
  padding-bottom: 25px;
  box-shadow: 0px -4px 10px 1px #c0c2c0;
  border-bottom-color: #52c306;
  z-index: 3;
}

.btnelm .btn-sub {
  display: none;
  color: #777777;
  font-size: 15px;
}

.btnelm .active span {
  display: block;
}

.btn-tab .actived .btn-name {
  font-weight: 800;
}

.btnelm span {
  display: block;
}

.sub-body-five {
  width: 100%;
  position: relative;
}

.bgsecond {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block;
  background-image: url('/assets/images/home/map-pattern.jpg');
}
.counter {
  font-size: 3rem;
}
.sub-body-five .content {
  max-width: 1300px;
  padding-top: 200px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
}

.content .method {
  width: 100%;
  text-align: center;
  line-height: 30px;
}

.method ul {
  list-style-type: none;
}

.method ul li {
  float: left;
}

.method-icon {
  display: block;
  width: 100%;
  color: #2315f3;
  font-size: 1.3rem;
}

.method h2 {
  display: block;
  width: 100%;
  font-size: 2.8rem;
  font-weight: 750;
  color: #52c306;
  margin: 20px 0;
}

.method p {
  font-size: 18px;
}

.body-six {
  width: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.imgbg {
  background-image: url('/assets/images/home/bg-image-1.jpg');
}

.body-six .imgbg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgbg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #0f1e44;
  opacity: 0.80;
}

.main-body-six {
  max-width: 1200px;
  padding: 100px 0 150px 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.main-body-six .elmif .title-text {
  color: #ffffff;
}

.main-body-six .elmif h2 {
  color: #ffffff;
}

.main-body-six .elmif .bottomtitle2 span {
  background-color: #ffffff;
}

.slides-comment {
  width: 100%;
  margin-top: 80px;
  position: relative;
  
}


.slides {
  width: 100%;
}

.vote {
  
  padding: 30px 0;
  text-align: left;
}

.elm-cmt {
  padding: 50px 35px;
  background-color: #fff;
  position: relative;
  margin: 0 20px;
  transition: all 1s ease;
}



.slides .text {
  font-size: 16px;
  margin-bottom: 30px;
}

.user {
  position: relative;
  padding-left: 75px;
  padding-top: 15px;
  line-height: 22px;
  min-height: 65px;
}

.user-avt {
  position: absolute;
  left: 0;
  top: 0;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
}
.user p {
  margin: 0;
}
.user-avt img {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.name {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}

.address {
  font-size: 14px;
  color: #777777;
  text-transform: capitalize;
}

.slides-comment .btn .left {
  position: absolute;
  top: 40%;
  left: -20px;
}

.vote {
  position: relative;
}

.vote .quote {
  color: #56b806;
  position: absolute;
  top: -30px;
  right: 50px;
  z-index: 10;
  transition: 0.4s;
}
.vote .quote i{
  font-size: 4rem;
}



.slides-comment button {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #777777;
  border-radius: 50% ;
  border: 1px solid #777777 ;
  background-color: transparent;
}

.slides-comment button:hover {
  color: #08e306;
  border-color: #08e306;
}
.slides-comment .slick-prev{
  top:calc(50% - 25px);
  left: -60px;
}
.slides-comment .slick-next{
  top:calc(50% - 25px);
  right: -60px;
}
.vote:hover .quote i {
  transform: translate(-100px, 100px);
  font-size: 6rem;
  opacity: 0.4;
  transition: all 0.6s ease;
}

.body-seven {
  width: 100%;
  background-color: #fff;
  padding: 80px 0;
}

.row-info {
  padding: 30px 0;
}

.row-info .elmif {
  float: left;
  padding: 0;
}

.row-info .btn-show {
  float: right;
}

.btn-show {
  background-color: #444444;
  padding: 16px 8px;
  color: #fff;
  display: block;
  margin-top: 40px;
  cursor: pointer;
}

.btn-show .btn-check {
  padding: 12px 25px;
}

.btn-show .active {
  background-color: #406fe6;
}

.body-seven .tab {
  display: block;
  margin-top: 20px;
  margin-left: 0;
}

.tab-element {
  padding: 50px 0px 50px;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-top: 3px solid #f0f0f0;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.view {
  border-top: solid #2315f3;
}

.tab-element img {
  width: 60px;
  height: 60px;
}

.tab-element .img-name {
  color: #777777;
  padding-top: 20px;
  margin-bottom: 5px;
}

.tab-element h2 {
  font-size: 2rem;
  padding: 10px 0;
}

.tab-element .icon-flash {
  color: #2315f3;
  font-size: 1.3rem;
  padding: 25px;
}

.cost {
  padding: 20px 0;
  position: relative;
  display: inline-block;
}

.cost .curency {
  display: block;
  font-size: 30px;
  position: absolute;
  top: 17px;
  left: -30px;
}

.cost .money {
  font-size: 60px;
  display: block;
  color: #08e306;
  font-weight: bolder;
}

.cost-w {
  color: #777777;
  padding-bottom: 30px;
}

.tab-element p {
  margin-bottom: 12px;
}

.tab-element .linkbox {
  margin: 0;
  padding: 30px 0 0 0;
}

.tab-element .link-text {
  background-color: #2315f3;
}

.tab-element .link-text::before {
  background-color: #444444;
}

.eight-body {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bgimg {
  background-image: url('/assets/images/home/bg-image-2.jpg');
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.bgimg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #24345d;
  opacity: 0.70;
}

.eight-container {
  max-width: 1200px;
  text-align: center;
  padding: 100px 0;
  position: relative;
}

.eight-body .elmif .title-text {
  color: #fff;
}

.eight-body .elmif h2 {
  color: #fff;
}

.eight-body .bottomtitle2 span {
  background-color: #fff;
}

.support {
  width: 100%;
  padding: 70px 80px;
  text-align: center;
}

.form-request {
  width: 100%;
  background-color: #fff;
}

.row-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  padding-top: 30px;
}

.support input {
  border: 1px solid #e0e0e0;
  width: 100%;
  border-radius: 3px;
  padding: 11px 20px;
  font-style: italic;
  font-size: 16px;
  color: #25283a;
  line-height: 30px;
  font-weight: 400;
}

.support select {
  max-width: 100%;
  width: 100%;
  padding: 15px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  font-size: 16px;
  color: #25283a;
  line-height: 30px;
  font-weight: 400;
}

.row-input .linkbox {
  margin: 0;
  padding: 20px 0;
}

.row-input .link-text {
  color: #fff;
}

.response {
  display: none;
  width: 80%;
  margin-top: 20px;
}

.response p {
  border: 2px solid #19d322;
  padding: 5px 15px;
}

.textcontent {
  padding: 20px 0;
}

.textcontent .sub-titletext {
  display: block;
  position: relative;
  overflow: hidden;
}

.txt {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
  padding: 0px 20px;
}

.sub-titletext .txt::before {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  width: 100px;
  border-bottom: 1px dashed #aaaaaa;
}

.sub-titletext .txt::after {
  content: '';
  position: absolute;
  right: 100%;
  top: 45%;
  width: 100px;
  border-bottom: 1px dashed #aaaaaa;
}

.info-support {
  font-size: 1.5rem;
}

.info-support img {
  padding: 10px 10px 0 10px;
  transform: translateY(5px);
}

.nine-body {
  width: 100%;
}

.nine-body .nine-container {
  max-width: 1200px;
  text-align: center;
  padding: 100px 0;
}

.nine-body .tab {
  display: block;
  margin-top: 30px;
  margin-left: 0;
}

.news {
  width: 100%;
  text-align: left;
  position: relative;
  overflow: hidden;
  background: none;
  padding-bottom: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.news::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 53px;
  background: #f8f8f8;
  transition: all 0.3s ease;
}

.news:hover::before {
  bottom: 0;
  background-color: #fff;
}

.news:hover {
  box-shadow: 0 10px 15px #adabab;
}

.img-date {
  width: 100%;
  position: relative;
}

.img-date img {
  width: 100%;
  height: auto;
}

.date {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #fff;
  width: 70px;
  height: 70px;
  padding-top: 15px;
  border-radius: 50%;
  text-align: center;
}

.date p {
  font-size: 14px;
  color: #222222;
  margin-top: -10px;
}

.date h2 {
  color: #08e306;
  font-weight: bolder;
  margin-top: -10px;
}

.text-box {
  width: 100%;
  padding: 50px 35px;
  position: relative;
  border-top: none;
  border: 1px solid #f8f8f8;
}

.text-box h3 {
  position: relative;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding-bottom: 15px;
  color: #222222;
}

.text-box h3:hover {
  color: #08e306;
}

.text-box h3::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 40px;
  border-bottom: 3px solid rgb(61, 238, 7);
}

.text-content {
  color: #777777;
}

.text-content a {
  color: #777777;
}

.text-content a:hover {
  color: #08e306;
}

.text-link-elm {
  position: absolute;
  bottom: 10px;
  height: auto;
  visibility: hidden;
}

.news:hover .text-link-elm {
  visibility: visible;
}

.text-link-elm .linkt {
  padding: 5px 0;
  color: #2315f3;
  border-bottom: 1px solid #2315f3;
  font-weight: bold;
}

.text-link-elm .linkt:hover {
  color: #08e306;
  border-color: #08e306;
}

.iconx {
  position: absolute;
  padding: 0px 0 0 10px;
  color: #08e306;
}

.ten-body {
  width: 100%;
  background-color: #0f1e44;
}

.ten-container {
  max-width: 1200px;
}

.row-list {
  column-count: 5;
  text-align: center;
  display: block;
  position: relative;
  padding: 70px 0;
  border-bottom: 1px solid #777777;
}

.info-link {
  font-size: 16px;
}

.info-link img {
  width: 64px;
  height: 64px;
  display: block;
  margin-bottom: 20px;
}

.info-link a {
  color: #fff;
  cursor: pointer;
}

.info-link a:hover {
  text-decoration: underline;
}

.social-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.social-logo ul {
  padding-left: 20px;
  padding-top: 20px;
}

.social-logo ul li a {
  color: #686666;
  transition: all 0.3s ease;
}

.social-logo ul li a:hover {
  color: #fff;
}

.row-services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  text-align: left;
}

.row-services .info img {
  display: block;
  margin-top: 10px;
  padding-right: 10px;
}

.row-services .info {
  width: 100%;
  color: #fff;
  padding-bottom: 20px;
}

.row-services .info a {
  color: #fff;
  font-size: 20px;
}

.row-services .info a:hover {
  text-decoration: underline;
}

.contact-elm {
  width: 25%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-elm h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
}

.contact-elm strong {
  font-size: 0.9rem;
}

.contact ul {
  list-style-type: none;
}

.contact ul li {
  padding-bottom: 10px;
  display: block;
}

.contact ul li a {
  color: #fff;
  transition: all 0.3s ease;
}

.contact ul li a:hover {
  color: #08e306;
}

.contact-logo p {
  color: #fff;
  margin-bottom: 20px;
}

.contact-logo ul li a {
  color: #949599;
  transition: all 0.3s ease;
}

.contact-logo ul li a:hover {
  color: #e0dd17;
}

.footer {
  width: 100%;
  background-color: #0f1e44;
  position: relative;
  border-top: 1px solid #6a6a6a;
}
.footer .social-logo i{
  font-size: 1.5rem;
}
.footer-container {
  max-width: 1200px;
  padding: 30px 0;
}

.footer-left {
  float: left;
  color: #a6a6a6;
}

.footer-left a {
  color: #fff;
}

.footer-right a {
  color: #a6a6a6;
}

.footer-right a:hover {
  color: #08e306;
}

.footer-right {
  float: right;
  color: #a6a6a6;
}

.go-back {
  position: absolute;
  color: #fff;
  z-index: 10;
  top: -25px;
  left: 49%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 60px;
  background-color: #52c306;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.go-back i{
  font-size: 2rem;

}
.go-back:hover {
  background-color: #392bf8;
}

@keyframes animations {
  0% {
      opacity: 0;
      transform: translateX(30px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes animations-right {
  0% {
      opacity: 0;
      transform: translateX(-30px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes animations-up {
  0% {
      opacity: 0;
      transform: translateY(80px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes animations-down {
  0% {
      opacity: 0;
      transform: translateY(-80px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@media screen and (max-width: 1080px) {

  .header-top {
      visibility: hidden;
  }
  .menu-bar {
      display: inline-block;
  }
  .banner-top .top-right {
      display: none;
  }
  .banner-top .top-left {
      float: none;
      text-align: center;
  }
  .header-main .header-main-box .info-contact,
  .menu {
      display: none;
  }
  .text-info h1 {
      padding: 0 50px;
      font-size: 60px;
  }
  .first-body-elm {
  
    flex-direction: column-reverse;
  }
  .first-body .first-body-elm .elm-right p {
      padding-top: 20px;
  }
  .elm-left .img-left {
      padding-left: 0;
      padding-top: 30px;
  }
  .elm-left .img-left img {
      width: 100%;
  }
  .elm-left .img-bottom {
      display: none;
  }
  .mainsevices .imgelmleft .imgcircle {
      right: 38%;
      top: 33%;
  }
  .mainsevices .imgelmright .imgcircle {
      left: 38%;
      top: 33%;
  }
  
  .vote {
      width: 100%;
      margin-right: 30px;
  }
  .slides-comment .btn {
      display: none;
  }
  .vote {
      flex: 0 0 100%;
  }
}

@media screen and (max-width: 900px) {
  .text-info h1 {
      font-size: 44px;
      padding: 0 20px;
  }
  .search-elm input[type="text"] {
      flex: 0 0 100%;
      border-radius: 5px 5px 0 0;
  }
  .search-elm input[type="submit"] {
      flex: 0 0 100%;
      border-radius: 0 0 5px 5px;
  }
  .mainsevices {
      padding-top: 15px;
  }
  .mainsevices .textright {
      padding-top: 30px;
  }
  .mainsevices h2 {
      font-size: 24px;
  }
  .wraptext {
      font-size: 16px;
  }
  .mainsevices .textleft {
      padding-bottom: 30px;
      text-align: left;
  }
  .info-link {
      display: none;
  }
  .social-logo {
      width: 100%;
  }
  .row-list {
      column-count: 1;
  }
  .social-logo a {
      display: block;
      width: 100%;
  }
  .footer-left,
  .footer-right {
      float: none;
      display: block;
      width: 100%;
      text-align: center;
  }
  .elmhiden {
      margin-top: 50px;
  }
  .contact-elm {
      width: 100%;
      padding: 10px 15px;
      border-bottom: 1px solid #777777;
  }
  .imgdemo {
      width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .ant-tabs-nav-list{
    flex-direction: column;

  }
  .logo{
    margin: auto;
  }
  .ant-tabs-tab{
    width: 100% !important;
  }
  .text-info h1 {
      font-size: 42px;
  }
  .header-main .linkbox {
      display: none;
  }
  
  .row h2 {
      font-size: 28px;
      margin-left: 0;
  }
  .btn-tab ul li {
      width: 100%;
  }
  .btn-tab {
      display: inline-block;
      position: static;
  }
  .row-info .elmif {
      width: 100%;
  }
  .row-info .btn-show {
      float: left;
      margin-left: 0;
  }
  .support {
      padding: 50px 15px;
  }
  .info-support {
      font-size: 20px;
  }
  .mainsevices .imgelmleft .imgcircle {
      right: 40%;
      top: 38%;
  }
  .mainsevices .imgelmright .imgcircle {
      left: 40%;
      top: 38%;
  }
}

@media screen and (max-width: 600px) {
  .img-solar {
      max-width: 100%;
      width: 100%;
  }
  .row-text h2 {
      font-size: 24px;
  }
  .imgprogram .owl-item img {
      width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .text-info h1 {
      font-size: 30px;
  }
  .mainsevices .imgelmleft .imgcircle {
      right: 33%;
      top: 30%;
  }
  .mainsevices .imgelmright .imgcircle {
      left: 33%;
      top: 30%;
  }
}

@media screen and (max-width: 400px) {
  .mainsevices .imgelmleft .imgcircle {
      right: 29%;
      top: 22%;
  }
  .mainsevices .imgelmright .imgcircle {
      left: 29%;
      top: 22%;
  }
}
